src/main/resources/xml/person/employee.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="person.xsd"/>

    <xs:element name="employee" type="employeeType"/>

    <xs:complexType name="employeeType" >
        <xs:complexContent>
            <xs:extension base="personType">
                <xs:sequence>
                    <xs:element name="degree" type="xs:string" nillable="true" minOccurs="0"/>
                    <xs:element name="position" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>