src/main/resources/xml/person/person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="personType" abstract="true">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="surname"/>
            <xs:element type="xs:string" name="phoneNumber"/>
            <xs:element type="xs:string" name="email"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
</xs:schema>