src/main/resources/xml/info/allergy.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="allergy" type="allergyType"/>

    <xs:complexType name="allergyType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
</xs:schema>