src/main/resources/xml/info/declaration.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../person/employee.xsd"/>

    <xs:element name="declaration" type="declarationType"/>

    <xs:complexType name="declarationType">
        <xs:sequence>
            <xs:element type="employeeType" name="doctor"/>
            <xs:element type="xs:date" name="created"/>
            <xs:element type="xs:date" name="expires"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
</xs:schema>