src/main/resources/xml/info/hospitalization.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="hospitalization" type="hospitalizationType"/>

    <xs:complexType name="hospitalizationType">
        <xs:sequence>
            <xs:element type="xs:string" name="place"/>
            <xs:element type="xs:date" name="date"/>
            <xs:element type="xs:string" name="condition"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
</xs:schema>