src/main/resources/xml/info/vaccination.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="vaccination" type="vaccinationType"/>

    <xs:complexType name="vaccinationType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:date" name="date"/>
            <xs:element type="xs:date" name="expires"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
</xs:schema>